@charset "utf-8";

html {
	overflow-y: auto;
} /*override common.css*/

/*top-bar right*/
#mode-menu {
	z-index: 1001;
	float: right;
	background: black;
	font-size: 14px;
	width: 160px;
	position: relative;
}
#mode-button {
	cursor: pointer;
	padding: 15px 15px;
	background: black;
}
#mode-button img {
	/*down arrow*/
	position: absolute;
	top: 18px;
	right: 15px;
	display: inline-block;
}
#other-modes {
	position: absolute;
	width: 160px;
	background: black;
	display: none;
}
#other-modes a {
	display: block;
	padding: 8px 15px;
}

#left-bar {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 53px;
	background: black;
	z-index: -1;
}

#right-bar {
	position: fixed;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 53px;
	background: black;
	z-index: -2;
}

#selection-bar {
	position: fixed;
	bottom: 40px;
	width: 100%;
	height: 50px;
	background: rgb(100, 136, 156);
	z-index: -3;
}
#instruction-bar {
	position: fixed;
	top: 50px;
	left: 50px;
	width: 100%;
	height: 20px;
	padding: 15px;
	background: rgb(100, 136, 156);
	z-index: -35;
}
#bottom-bar {
	/*overwrite common.css*/
	position: fixed;
	bottom: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /* Firefox */
	width: 100%;
	height: 50px;
}

#speed-control {
	position: fixed;
	right: 200px;
	bottom: 20px;
	color: white;
	font-size: 11px;
	line-height: 100%;
}
#speed-control .ui-slider {
	position: relative;
	display: inline-block;
	margin: 0px 10px;
	border-left: 5px solid #777;
	border-right: 5px solid #777;
	background-color: #777;
	height: 6px;
	width: 70px;
}
#speed-control .ui-slider-handle {
	position: absolute;
	margin-left: -5px;
	border: none;
	outline: none;
	background-color: white;
	height: 6px;
	width: 10px;
}

#media-controls {
}
.media-control-button {
	cursor: pointer;
	position: fixed;
	opacity: 0.75;
}
.media-control-button:hover {
	opacity: 1;
}
.media-control-button img {
	display: inline-block;
}
#go-to-end {
	bottom: 10px;
	left: 50%;
	margin-left: -205px; /*20px space*/
}
#start-bfs {
	bottom: 55px;
	left: 300px;
	cursor: pointer;
	/* padding: 15px 15px; */
	/* margin-left: -150px; 20px space */
	font-family: "Courier New", Courier, monospace;
	font-size: 20px;
}
#next {
	bottom: 10px;
	left: 50%;
	margin-left: -237px;
}
#pause,
#play {
	bottom: 8px;
	left: 50%;
	margin-left: -273px;
	opacity: 1;
}
#previous {
	bottom: 10px;
	left: 50%;
	margin-left: -305px;
}
#go-to-beginning {
	bottom: 10px;
	left: 50%;
	margin-left: -335px;
}
#stop {
	bottom: 10px;
	left: 50%;
	margin-left: 195px;
	opacity: 1;
}
#progress-bar.ui-slider {
	bottom: 17px;
	left: 50%;
	margin-left: -175px;
	background-color: #777;
	height: 6px;
	width: 350px;
	opacity: 1;
}
#progress-bar .ui-slider-handle {
	position: absolute;
	border: none;
	outline: none;
	background-color: #fff;
	height: 6px;
	width: 1px;
}
#progress-bar .ui-slider-range {
	position: absolute;
	height: 6px;
}

#viz {
	width: 100%;
	text-align: center;
	overflow: hidden;
	padding-top: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.execAction {
	cursor: pointer;
}
.execAction p:hover {
	background: black;
	color: white;
}

.panel {
	position: fixed;
	color: white;
	width: 0px;
	overflow: hidden;
	background: #777;
	white-space: nowrap;
}
.panel-hide {
	position: fixed;
	cursor: pointer;
	background: #777;
}

#current-action {
	bottom: 320px;
	right: 60px;
	width: 400px;
	display: none;
	background: none;
	overflow: normal;
	white-space: normal;
	text-align: right;
}
#current-action p {
	color: black;
	font-weight: bold;
	font-size: 20px;
}

#actions {
	top: 145px;
	right: 53px;
}
#actions p {
	padding: 5px 10px;
	cursor: pointer;
}
#actions p:hover {
	background: black;
	color: white;
}
#actions p:first-of-type {
	padding-top: 10px;
}
#actions p:last-of-type {
	padding-bottom: 10px;
}
#actions-hide {
	top: 140px;
	right: 0px;
	height: 10px;
	padding-left: 14px;
	padding-right: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.action-menu-pullout {
	display: none;
	position: fixed;
}
.action-menu-pullout input {
	background: black;
	color: white;
}
.new-menu-option {
	margin-left: 3px;
}
.err {
	color: red;
	margin-left: 6px;
}

#menu {
	top: 50px;
	left: 43px;
	height: 50px;
	white-space: normal;
}
#menu p {
	padding: 10px;
}
#menu-hide {
	top: 50px;
	left: 0px;
	height: 15px;
	padding: 10px 15px 10px 12px;
	background-color: black;
}
.menu-title {
	font-weight: bold;
	font-size: 20px;
	color: white;
}
.menu-item {
	font-size: 10px;
}

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
	overflow-x: hidden;
	transition: 0.5s;
}

.overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
	color: #f1f1f1;
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

@media screen and (max-height: 450px) {
	.overlay a {
		font-size: 20px;
	}
	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}

#audio {
	top: 50px;
	right: 53px;
	white-space: normal;
}
#audio p {
	padding: 10px;
}
#audio-hide {
	top: 50px;
	right: 0px;
	height: 10px;
	padding: 10px 14px 20px 14px;
}

#guide {
	top: 95px;
	right: 53px;
	white-space: normal;
}
#guide p {
	padding: 10px;
}
#guide-hide {
	top: 95px;
	right: 0px;
	height: 10px;
	padding: 10px 14px 20px 14px;
}

#status {
	bottom: 260px;
	right: 53px;
	height: 50px;
	white-space: normal;
}
#status p {
	padding: 10px;
}
#status-hide {
	height: 20px;
	bottom: 260px;
	right: 0px;
	padding: 15px 14px 15px 15px;
}

#codetrace {
	bottom: 90px;
	right: 53px;
	height: 165px;
	font-family: "Courier New", Courier, monospace;
}
#codetrace p {
	padding: 5px 10px;
}
#codetrace p.highlighted {
	background: black;
}
#codetrace-hide {
	bottom: 90px;
	right: 0px;
	padding: 70px 14px 70px 15px;
}

.rotateRight {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Safari and Chrome */
	-o-transform: rotate(180deg); /* Opera */
	-moz-transform: rotate(180deg); /* Firefox */

	/* if you want to do this move with animate use transition */
	transition: 0.5s;
	-moz-transition: 0.5s; /* Firefox 4 */
	-webkit-transition: 0.5s; /* Safari and Chrome */
	-o-transition: 0.5s; /* Opera */
}
.rotateLeft {
	transform: rotate(0deg);
	-ms-transform: rotate(0deg); /* IE 9 */
	-webkit-transform: rotate(0deg); /* Safari and Chrome */
	-o-transform: rotate(0deg); /* Opera */
	-moz-transform: rotate(0deg); /* Firefox */

	/* if you want to do this move with animate use transition */
	transition: 0.5s;
	-moz-transition: 0.5s; /* Firefox 4 */
	-webkit-transition: 0.5s; /* Safari and Chrome */
	-o-transition: 0.5s; /* Opera */
}

/*tutorial stuff*/
.tutorial-dialog {
	position: fixed;
	background: black;
	color: white;
	padding: 12px;
	border-radius: 3px;
	display: none;
	line-height: 150%;
}
.tutorial-dialog:before {
	content: " ";
	position: absolute;
	height: 0px;
	width: 0px;
	border-style: solid;
	border-width: 10px;
	border-color: transparent;
}
.tutorial-next {
	position: absolute;
	bottom: -10px;
	right: -10px;
	padding: 3px 8px;
	background: #999;
	color: white;
	cursor: pointer;
	border-radius: 2px;
}
.tutorial-next img {
	display: inline-block;
	height: 9px;
	margin-left: 8px;
}
