@charset "utf-8";

html {
	overflow-y: auto;
} /*override common.css*/

/*top-bar right*/
#mode-menu {
	z-index: 1001;
	float: right;
	background: black;
	font-size: 14px;
	width: 160px;
	position: relative;
}
#mode-button {
	cursor: pointer;
	padding: 15px 15px;
	background: black;
}

#left-bar {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 53px;
	background: black;
	z-index: -1;
}

#right-bar {
	position: fixed;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 53px;
	background: black;
	z-index: -2;
}

#selection-bar {
	position: fixed;
	bottom: 40px;
	width: 100%;
	height: 50px;
	background: rgb(100, 136, 156);
	z-index: -3;
	border-style: solid;
	border-width: 1px;
}
#instruction-bar {
	position: fixed;
	top: 50px;
	left: 50px;
	width: 100%;
	height: 20px;
	padding: 15px;
	background: rgb(100, 136, 156);
	z-index: -35;
	border-style: solid;
	border-width: 1px;
}
#bottom-bar {
	/*overwrite common.css*/
	position: fixed;
	bottom: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /* Firefox */
	width: 100%;
	height: 50px;
}

#media-controls {
}
.media-control-button {
	cursor: pointer;
	position: fixed;
	opacity: 0.75;
}
.media-control-button:hover {
	opacity: 1;
}
.media-control-button img {
	display: inline-block;
}
#go-to-end {
	bottom: 10px;
	left: 50%;
	margin-left: -205px; /*20px space*/
}
#start-bfs {
	bottom: 20px;
	left: 300px;
	cursor: pointer;
	width: fit-content;
	padding: 15px 15px;
	/* margin-left: -150px; 20px space */
	font-family: "Courier New", Courier, monospace;
	font-size: 20px;
	color: white;
	padding: 15px 15px;
	z-index: 1500;
}
#next {
	bottom: 10px;
	left: 50%;
	margin-left: -237px;
}
#previous {
	bottom: 10px;
	left: 50%;
	margin-left: -305px;
}
#go-to-beginning {
	bottom: 10px;
	left: 50%;
	margin-left: -335px;
}

#viz {
	width: 100%;
	text-align: center;
	overflow: hidden;
	padding-top: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.execAction {
	cursor: pointer;
}
.execAction p:hover {
	background: black;
	color: white;
}

.panel {
	position: fixed;
	color: white;
	width: 0px;
	overflow: hidden;
	background: #777;
	white-space: nowrap;
}
.panel-hide {
	position: fixed;
	cursor: pointer;
	background: #777;
}

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
	overflow-x: hidden;
	transition: 0.5s;
}

.overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
	color: #f1f1f1;
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

@media screen and (max-height: 450px) {
	.overlay a {
		font-size: 20px;
	}
	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}

#current-action {
	bottom: 320px;
	right: 60px;
	width: 400px;
	display: none;
	background: none;
	overflow: normal;
	white-space: normal;
	text-align: right;
}
#current-action p {
	color: black;
	font-weight: bold;
	font-size: 20px;
}


#menu {
	top: 50px;
	left: 43px;
	height: 50px;
	white-space: normal;
}
#menu p {
	padding: 10px;
}
#menu-hide {
	top: 50px;
	left: 0px;
	height: 15px;
	padding: 10px 15px 10px 12px;
	background-color: black;
}
.menu-title {
	font-weight: bold;
	font-size: 20px;
	color: white;
}
.menu-item {
	font-size: 10px;
}

#audio {
	top: 50px;
	right: 0px;
	height: 15px;
	padding-top: 15px;
	padding-bottom: 20px;
	padding-left: 13px;
	padding-right: 13px;
	border-style: solid;
	border-width: 1px;
	background-color: #fec515;
}

#guide {
	top: 105px;
	right: 53px;
	height: 400px;
	white-space: normal;
	/* background-color: #9d6adb; */
	/* background-color: #d9513c; */
	background-color: #ed5a7d;
	z-index: 1001;
}
#guide p {
	padding: 10px;
}
#guide-hide {
	top: 105px;
	right: 0px;
	height: 15px;
	padding-top: 15px;
	padding-bottom: 20px;
	padding-left: 13px;
	padding-right: 13px;
	border-style: solid;
	border-width: 1px;
	/* background-color: #9d6adb; */
	background-color: #ed5a7d;
}

#actions {
	top: 160px;
	right: 53px;
	background-color: #a7d41e;
	z-index: 1010;
}
#actions p {
	padding: 5px 10px;
	cursor: pointer;
}
#actions p:hover {
	background: black;
	color: white;
}
#actions p:first-of-type {
	padding-top: 10px;
}
#actions p:last-of-type {
	padding-bottom: 10px;
}
#actions-hide {
	top: 160px;
	right: 0px;
	height: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 13px;
	padding-right: 13px;
	border-style: solid;
	border-width: 1px;
	background-color: #a7d41e;
}
.action-menu-pullout {
	display: none;
	position: fixed;
}
.action-menu-pullout input {
	background: black;
	color: white;
}
.new-menu-option {
	margin-left: 3px;
}
.err {
	color: red;
	margin-left: 6px;
}

#status {
	bottom: 285px;
	right: 53px;
	height: 50px;
	white-space: normal;
	background-color: #ff8a27;
	z-index: 1005;
}
#status p {
	padding: 10px;
}
#status-hide {
	height: 20px;
	bottom: 285px;
	right: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 13px;
	padding-right: 13px;
	border-style: solid;
	border-width: 1px;
	background-color: #ff8a27;
}

#codetrace {
	bottom: 90px;
	right: 53px;
	height: 190px;
	font-family: "Courier New", Courier, monospace;
	background-color: #2ebbd1;
	z-index: 1005;
}
#codetrace p {
	padding: 5px 10px;
}
#codetrace p.highlighted {
	background: black;
}
#codetrace-hide {
	bottom: 90px;
	right: 0px;
	height: 50px;
	padding-top: 70px;
	padding-bottom: 70px;
	padding-left: 13px;
	padding-right: 13px;
	border-style: solid;
	border-width: 1px;
	background-color: #2ebbd1;
}

/*tutorial stuff*/
.tutorial-dialog {
	position: fixed;
	background: black;
	color: white;
	padding: 12px;
	border-radius: 3px;
	display: none;
	line-height: 150%;
}
.tutorial-dialog:before {
	content: " ";
	position: absolute;
	height: 0px;
	width: 0px;
	border-style: solid;
	border-width: 10px;
	border-color: transparent;
}
.tutorial-next {
	position: absolute;
	bottom: -10px;
	right: -10px;
	padding: 3px 8px;
	background: #999;
	color: white;
	cursor: pointer;
	border-radius: 2px;
}
.tutorial-next img {
	display: inline-block;
	height: 9px;
	margin-left: 8px;
}
