@import '~bootstrap/dist/css/bootstrap.css';
  
  .cover{
    display: flex;
    justify-content: center;
  }

  .hero {
  display: block;
  justify-content: center;
  align-items: center;
  height: 1000px;
  margin-bottom: 100px;
  }
  
  .hero img {
  max-width: 100%;
  height: auto;
  justify-content: center;
  }
  
  body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  }
  
  header {
  background-color: #222;
  color: white;
  padding: 20px;
  text-align: center;
  }
  
  header img {
  height: auto;
  width: 0.5%;
  justify-content: center;
  }
  
  main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 50px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 90%;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .box {
    background-color: #f35858;
    border-radius: 20px;
    cursor: pointer;
    height: 200px;
    margin: 20px;
    overflow: hidden;
    position: relative;
    width: 200px;
  }
  
  .box img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  }
  
  .box h2 {
  bottom: 0;
  color: #333;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding: 20px;
  position: absolute;
  text-align: center;
  width: 100%;
  }
  
  .expanded {
  height: auto;
  overflow: visible;
  }
  
  .sub-links {
  display: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
  padding: 20px;
  }
  
  .sub-links a {
  background-color: #222;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  margin: 10px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  width: 150px;
  }
  
  .sub-links a:hover {
  background-color: #444;
  }

  #logo {
    position: fixed;
    height:40px;
    width: auto;
    top: 5px;
  }