<div id="bottom-bar"></div>
<% if(page.includes('simulation')){ %>
    <div id="media-controls" style="position: absolute; top: 580px; visibility: hidden;">
        <span id="previous" class="media-control-button" style="left: 80px;" title="step backward" onclick=prev_bfs()>
                <span class="material-symbols-outlined" style="color:gray; font-size: 100px;">arrow_left</span>
        </span>
        <span id="next" class="media-control-button" style="left: 130px;" title="step forward" onclick=next_bfs1()>
                <span class="material-symbols-outlined" style="color: gray; font-size: 100px;">arrow_right</span>
        </span>
    </div>
<% } else { %>
<% } %>