<!DOCTYPE html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <title>AlgoIllustrated</title>
    <link rel="icon" type="image/png" href="media/logo2.png" />

    <!--css-->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/toolbars.css">

    <!--js-->
    <script src="js/external/jquery-1.10.2.js"></script>
    <script src="js/external/jquery-ui.js"></script>
    <script src="js/external/d3.v3.js"></script>
    <script src="js/toolbars.js"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="guide_content.js"></script>
    <script src="instructions_content.js"></script>

    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

</html>