<div id="right-bar"></div>
<div id="actions" class="panel">
    <p id="search"><b>Edit Menu</b></p>
    <% if(page.includes('graph_')){ %>
        <p id="search" class="execAction" onclick=add_node()>Add Node</p>
        <p id="remove" class="execAction" onclick=del_node()>Delete Node</p>
        <p id="search" class="execAction" onclick=add_edge()>Add Edge</p>
        <p id="remove" class="execAction" onclick=del_edge()>Delete Edge</p>
        <% if(page == 'graph_simulation'){ %>
            <p id="search" class="execAction" onclick=sim_bfs()>Simulate BFS</p>
        <% } else if(page == 'graph_interaction'){ %>
            <div id="popup">
                <h2>Error!</h2>
                <p id="err">yoo try</p>
                <p id="search" class="execAction" onclick="closePopup()">Ok </p>
            </div>
            <p id="search" class="execAction" onclick=bfs()>Interact BFS</p>
        <% } %>
        <p id="search" class="execAction" onclick=clear_scr()>Clear</p>
    <% } else if(page.includes('dp_')){ %>
        <div id="popup_cap">
            <h2>Edit Capacity</h2>
            <form>
                <label for="cap" >Capacity:</label>
                <input type="number" id="cap" name="cap"><br><br>
            </form>
            <p id="search" class="execAction" onclick="edit_cap()">Edit </p>
        </div>
        <p id="search" class="execAction" onclick=openPopupc()>Edit Capacity</p>
        <div id="popup">
            <h2>Add Item</h2>
            <form>
                <label for="weight" >Weight:</label>
                <input type="number" id="weight" name="weight"><br><br>
                <label for="value">Value:</label>
                <input type="number" id="value" name="value"><br><br>
            </form>
            <p id="search" class="execAction" onclick="add_item()">Add </p>
        </div>
        <p id="search" class="execAction" onclick="openPopup()">Add Item</p>
        <div id="popup_i">
            <h2>Edit Capacity</h2>
            <form>
                <label for="indexi" >Item index:</label>
                <input type="number" id="indexi" name="indexi"><br><br>
            </form>
            <p id="search" class="execAction" onclick="del_item()">Delete </p>
        </div>
        <p id="remove" class="execAction" onclick=openPopupi()>Delete Item</p>
        <% if(page == 'dp_simulation'){ %>
            <p id="search" class="execAction" onclick=sim_bfs()>Simulate DP</p>
        <% } else if(page == 'dp_interaction'){ %>
            <div id="popup_e">
                <h2>Error!</h2>
                <p id="err">yoo try</p>
                <p id="search" class="execAction" onclick="closePopup_e()">Ok </p>
            </div>
            <p id="search" class="execAction" onclick=bfs()>Interact DP</p>

            <div id="dp_i">
            </div>
        <% } %>
        <p id="search" class="execAction" onclick=clear_items()>Clear</p>
    <% } else if(page.includes('stacks')){ %>
        <p id="search" class="execAction" onclick=push()>Push</p>
        <p id="search">
        <form><input type="text" id="push_val" placeholder="Value to push"></form>
        </p>
        <p id="search" class="execAction" onclick=pop()>Pop</p>
        <p id="search" class="execAction" onclick=peek()>Peek</p>
        <p id="search" class="execAction" onclick=openRevPop()>String Reversal</p>
        <div id="popup_strrev">
            <h2>Input</h2>
            <form>
                <label for="string" >String to Reverse:</label>
                <input id="string" name="string"><br><br>
            </form>
            <p id="search" class="execAction" onclick="strrev()">Reverse</p>
        </div>
        <p id="search" class="execAction" onclick=openParPop()>Parantheses Check</p>
        <div id="popup_par">
            <h2>Input</h2>
            <form>
                <label for="par" >String to Check:</label>
                <input id="par" name="par"><br><br>
            </form>
            <p id="search" class="execAction" onclick="parcheck()">Check</p>
        </div>
        <p id="search" class="execAction" onclick=clear_scr()>Clear</p>
    <% } else if(page.includes('sorting')){ %>
        <p id="search" class="execAction" onclick=parse_data()>Sort</p>
		<p id="search">
		<form><input type="text" id="sort_list" placeholder="Elements to sort" value="4,1,2,5,3"></form>
		</p>
		<p id="search" class="execAction" onclick=clear_scr()>Clear</p>
    <% } %>
</div>

<div id="audio" class="panel-hide"><span class="material-symbols-outlined">volume_up</span></div>
<div id="guide-hide" class="panel-hide"><span class="material-symbols-outlined">menu_book</span></div>
<div id="guide" class="panel">
    <p></p>
</div>
<div id="actions-hide" class="panel-hide"><span class="material-symbols-outlined">edit</span></div>

<div id="instruction-hide" class="panel-hide"><span class="material-symbols-outlined">Info</span></div>
<div id="instruction" class="panel"><p></p></div>

<div id="codetrace" class="panel">
    <p id="pseudocode">yoo try</p>
</div>
<div id="codetrace-hide" class="panel-hide"><span class="material-symbols-outlined">code</span></div>


<script src="../../code_expl.js"></script>