<div id="top-bar">
    <a id="home" href="/"><img id="logo" src="./media/logo2.png" alt="AlgoIllustrated"
            class="logo me-auto me-lg-0"></a>
    <div id="mode-menu" style="width: fit-content;">
        <% if(page == 'graph_simulation'){ %>
            <div id="mode-button" onclick="window.location.href='/graph_interaction'">Switch to Interaction Mode</div>
        <% } else if(page == 'graph_interaction'){ %>
            <div id="mode-button" onclick="window.location.href='/graph_simulation'">Switch to Simulation Mode</div>
        <% } else if(page == 'dp_simulation'){ %>
            <div id="mode-button" onclick="window.location.href='/dp_interaction'">Switch to Interaction Mode</div>
        <% } else if(page == 'dp_interaction'){ %>
            <div id="mode-button" onclick="window.location.href='/dp_simulation'">Switch to Simulation Mode</div>
        <% } else if(page == 'stacks_simulation'){ %>
            <div id="mode-button" onclick="window.location.href='/stacks_interaction'">Switch to Interaction Mode</div>
        <% } else if(page == 'stacks_interaction'){ %>
            <div id="mode-button" onclick="window.location.href='/stacks_simulation'">Switch to Simulation Mode</div>
        <% } else if(page == 'sorting_simulation'){ %>
            <div id="mode-button" onclick="window.location.href='/sorting_interaction'">Switch to Interaction Mode</div>
        <% } else if(page == 'sorting_interaction'){ %>
            <div id="mode-button" onclick="window.location.href='/sorting_simulation'">Switch to Simulation Mode</div>
        <% } %>
    </div>
</div>
<!-- <% if(page.includes('graph_')){ %>
    <div id="instruction-bar">Use the edit menu on the right to ADD and DELETE nodes and edges, CLEAR screen and use BFS.</div>
<% } else if(page.includes('dp_')){ %>
    <div id="instruction-bar">Use the edit menu on the right to ADD and DELETE items, edit capacity, and CLEAR screen.</div>
<% } else if(page.includes('stacks')){ %>    
    <div id="instruction-bar">Use the edit menu on the right to PUSH, POP, PEEK and CLEAR.</div>
<% } else if(page.includes('sorting')){ %>    
    <div id="instruction-bar">Use the edit menu on the right to enter the elements to be sorted.</div>
<% } %>    -->